* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background-color: #89CFF0;
  color: white;
}

.container {

  width: 100vw;
  height: 100vh;
  background-image:url(./images/pexels-asiama-junior-6567674.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
}

.container:hover{
  background-color: rgb(240, 247, 242);
  background-blend-mode: multiply;
}



/* .text {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(2, 6, 8, 0.973);
  height: 30%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
  font-weight: 1000;
  mix-blend-mode:multiply;
  text-align: left;
} */

