* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {

  width: 100vw;
  height: 100vh;
  background-image:url(./images/pexels-asiama-junior-6567674.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container:hover{
  background-color: rgb(140, 141, 141);
  background-blend-mode: multiply;
}



.text {
  
  /* background: rgba(2, 6, 8, 0.973); */
  height: 30%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
} 

h1{
  font-size: 100px;
}