* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container-fluid {

  width: 100vw;
  height: 100vh;
  background-image: url(./images/pexels-asiama-junior-6567674.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(110, 110, 110);
  background-blend-mode: multiply;
}



img {
  height: 200px;
  width: 150px;
}

.text {

  /* background: rgba(2, 6, 8, 0.973); */
  height: 30%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

h1 {
  font-size: 100px;
}

.para {
  width: 50vw;
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  /* font-weight: 500; */

  font-family: 'Lobster', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Rowdies', cursive;
}


button {
  width: 300px;
  height: 50px;
  background-color: #343A40;
  /* border-radius: 4px;   */
  color: #fff;
  cursor: pointer;
  /* padding: 8px 16px; */
}


.button1 {
  background-color: transparent;
  border-style: 10px groove;
  /* border: 5px white; */
}


.button2 {
  background-color: #343A40;
  opacity: 4px;
  margin-left:50px;

}

.button2:hover {
  background-image: linear-gradient(to right, #19866f 10%, #FFCF00 49%, #FC4F4F 80%, #19866f 100%);
  animation: slidebg 5s linear infinite;
  font-size: 25px;
}

.button1:hover{
  background-color:white;
  color: black;
  font-size:25px ;
}

span {
  background-image: linear-gradient(to right, #19866f 10%, #FFCF00 49%, #FC4F4F 80%, #19866f 100%);
  font-size: 30px;
  border-radius: 50%;

}




/* MEDIA QUERY */

@media only screen and (max-width: 600px) {


  
  .container-fluid {

    background-blend-mode: multiply;
    background-image: url(./images/pexels-asiama-junior-6567674.jpg);

    background-repeat: no-repeat;

    /* font-family: 'Lobster', cursive; */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Rowdies', cursive; */
  }

  .para {
    /* background-color: #19866f; */
    height: 1050px;
    width: 100%;
    /* color: rgb(102, 37, 37); */
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;


  }

  .text {
    margin-top: 50px;
  }



  span {
    color: yellow;
    background-image: none;
  }


  h1 {
    font-size: 20px;
    font-weight: 1000;
    padding-top: 20px;
  }


  button {
    width: 120px;
    height: 50px;
    background-color: #343A40;
    /* border-radius: 4px;   */
    color: blue;
    cursor: pointer;
    /* padding: 8px 16px; */
    margin-top: 30px;
    border-radius: 10px;

  }



  .but {
    display: flex;
    justify-content: center;
    /* margin-top: 70px; */
    /* padding:20px; */
  }

  .button1 {
    background-color: aliceblue;
   
  }

  .button1:hover{
    font-size:15px ;
  }

  .button2 {
    color: aliceblue;
    font-size: 15px;
    background-image: linear-gradient(to right, #19866f 10%, #FFCF00 49%, #FC4F4F 80%, #19866f 100%);
  }

  .button2:hover {
    font-size: 15px;
    background-image: linear-gradient(to right, #19866f 10%, #FFCF00 49%, #FC4F4F 80%, #19866f 100%);
  }

}



}